/* Definições Globais */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}



.logo-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-text h1 {
    color: #E53935;
    font-size: 48px;
}

.logo-text p {
    color: #333;
    font-size: 18px;
    margin-top: 5px;
}

.logo-text .tagline {
    color: #E53935;
    font-size: 18px;
    margin-top: 10px;
}

.header-image {
    width: 300px;
    height: auto;
    border-radius: 8px;
}

.volunteer-section {
    text-align: center;
    padding: 40px 20px;
    background-color: #fff;
    margin-top: 20px;
}


.produto {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .produto img {
        max-width: 100%;
        height: auto;
    }

.volunteer-section h2 {
    font-size: 30px;
    color: #333;
    margin-bottom: 10px;
}

.volunteer-section .subtitle {
    color: #E53935;
    font-size: 18px;
    margin-bottom: 40px;
}

.volunteer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0 20px;
}

.volunteer-card {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.image-placeholder {
    width: 100%;
    height: 150px;
    background-color: #e5e5e5;
    border-radius: 10px;
    margin-bottom: 10px;
}

.volunteer-card p {
    color: #333;
    font-size: 16px;
    margin-top: 10px;
}

/* Responsividade */
@media (max-width: 768px) {
    .voluntario-canais {
        flex-direction: column; /* Coloca os canais um em cima do outro */
        align-items: center;
    }

    .folha, .folha2 {
        display: none; /* Esconde as folhas em telas pequenas */
    }

    .tipos-descarte img {
        width: 100%;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 28px; /* Tamanho menor para o título principal em telas pequenas */
    }

    h2 {
        font-size: 24px; /* Tamanho menor para os subtítulos */
    }

    p {
        font-size: 16px; /* Tamanho menor para os parágrafos */
    }

    .canal, .canal1, .canal2 {
        max-width: 90%; /* Permite maior flexibilidade em telas pequenas */
    }
}
