.headerP {
    background-color: #e53935; /* Cor de fundo vermelha */
    padding: 2em;
    color: #fff;
    text-align: center;
    position: relative;
}

.Color {
    color: white;
}

.headerP .logo h1 {
    font-size: 3em; /* Tamanho do título aumentado */
    margin: 0;
}

.headerP .logo p {
    font-size: 1.5em; /* Tamanho do subtítulo aumentado */
    font-weight: bold;
    margin: 0.5em 0;
}

.headerP .logo span {
    font-size: 1.2em; /* Tamanho da descrição aumentado */
    color: #ffebee;
}

.cart-icon img {
    position: absolute;
    right: 1em;
    top: 1em;
    width: 40px;
    height: 40px;
}

.categories {
    display: flex;
    justify-content: center;
    gap: 2em;
    padding: 2em 0;
    background-color: #fff;
}

.category {
    text-align: center;
    color: #e53935;
}

.category .icon {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.product-list {
    padding: 2em;
}

.product-list h2 {
    text-align: left;
    font-size: 1.8em; /* Tamanho dos títulos da lista aumentado */
    color: #e53935;
    margin-bottom: 1em;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Aumenta o tamanho mínimo dos cards */
    gap: 1em;
}

.product-card {
    background-color: #fff;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product-image {
    background-color: #e0e0e0;
    width: 100%;
    height: 150px; /* Aumenta a altura da imagem */
    margin-bottom: 1em;
    border-radius: 8px;
}

.product-card p {
    margin: 0.5em 0;
    color: #333;
}

.product-card p:nth-child(2) {
    font-weight: bold;
    color: #e53935;
}
